<!DOCTYPE html>
<html class="page-{{ page.html_class }}">
<head>
  <title>{{ page.title }} - {{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <style>{% capture styles %}{% include main.scss %}{% endcapture %}{{ styles | scssify }}</style>

  {% include google_analytics.html %}
</head>
<body>
{{ page.content }}
</body>
</html>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
